services:
  postgres:
    image: postgis/postgis:16-3.4
    container_name: pg_rich_types
    environment:
      POSTGRES_USER: demo
      POSTGRES_PASSWORD: demo
      POSTGRES_DB: demo
    ports:
      - "5432:5432"
