# docker-compose.yml
services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_HOST_AUTH_METHOD: trust
    ports: ["5432:5432"]

  redis:
    image: redis:7
    ports: ["6379:6379"]

  influxdb:
      image: influxdb:2.7
      ports:
        - "8086:8086"
      environment:
        INFLUXDB_ADMIN_USER: admin
        INFLUXDB_ADMIN_PASSWORD: admin123
        INFLUXDB_ORG: demo-org
        INFLUXDB_BUCKET: metrics
        INFLUXDB_HTTP_AUTH_ENABLED: "true"

  clickhouse:
    image: clickhouse/clickhouse-server
    ports:
      - "8123:8123"
      - "9000:9000"
    environment:
      CLICKHOUSE_DB: default
      CLICKHOUSE_USER: default
      CLICKHOUSE_PASSWORD: clickhouse
      CLICKHOUSE_DEFAULT_ACCESS_MANAGEMENT: 1